body{
  background: black;
  margin: 0px;
}

h1{
  font: 100px helvetica;
  color: white;
  text-align: left;
}

h2{
  font: 70px helvetica;
  color: white;
  text-align: left;
}

p1{
  font: 40px helvetica;
  color: white;
  text-align: left;
}
