body{
  background: rgba(20, 30, 40);
  margin: 0px;
}

h1{
  font: 100px helvetica;
  color: white;
  text-align: left;
}

h2{
  font: 70px helvetica;
  color: white;
  text-align: left;
}

h3{
  font: 60px helvetica;
  font-weight: bold;
  color: white;
  text-align: left;
}

p{
  font: 40px helvetica;
  color: white;
  text-align: left;
  margin-bottom: 10px;
}

a{
  font: 40px helvetica;
  color: white;
  text-decoration-line: none;
  text-align: left;
}

.home{
  font: 100px helvetica;
  color: white;
  text-align: left;
  text-decoration-line: none;
  margin-top: 300PX;
  padding: 30px;
}

<!--
a:hover
{
  color: rgba(200, 120, 140);
}
//-->
